AddHandler wsgi-script .wsgi
DirectoryIndex index.wsgi
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.wsgi/$1 [QSA,PT,L]

#Virtual environment set up this needs to be in the apache2 configuration
#WSGIDaemonProcess culture_db python-home=/hpc/users/ruprec01/venv_culture_db
