pandas==latest
plotly==latest
pandera==latest
dash==latest
dash-core-components==latest
dash-html-components==latest
dash-bootstrap-components==latest
dash-daq==latest
dash-cytoscape==latest
flask==latest
gunicorn==latest
libapache2-mod-wsgi-py3